/* Fonts */
/* line 4, /Users/Hope/Desktop/deadbutcool/app/assets/stylesheets/application.scss */
.font-face {
  font-family: 'Canela-Light';
  src: local("Canela-Light"), local("Canela-Light-Bold"), url("fonts/Canela-Light.woff") format("woff");
}

/* Universal */
@media (min-width: 420px) {
  /* line 12, /Users/Hope/Desktop/deadbutcool/app/assets/stylesheets/application.scss */
  h1 {
    font-size: 60px !important;
    width: 665px;
    height: 420px;
    left: 50%;
    text-align: left;
  }
}
@media (min-width: 420px) and (min-width: 960px) {
  /* line 12, /Users/Hope/Desktop/deadbutcool/app/assets/stylesheets/application.scss */
  h1 {
    margin: auto;
    width: 50%;
    padding: 20px;
  }
}

/* line 24, /Users/Hope/Desktop/deadbutcool/app/assets/stylesheets/application.scss */
html {
  background-color: #000000;
}

/* line 29, /Users/Hope/Desktop/deadbutcool/app/assets/stylesheets/application.scss */
p, h1, h2, h3, h4, h5, h6 {
  word-wrap: break-word;
  color: white;
  font-family: Favorit-Regular, sans-serif;
  font-style: normal;
  font-stretch: normal;
  font-weight: 100;
  line-height: normal;
  letter-spacing: normal;
  -webkit-font-smoothing: antialiased;
}

/* line 42, /Users/Hope/Desktop/deadbutcool/app/assets/stylesheets/application.scss */
section {
  padding: 20px;
}
/* line 45, /Users/Hope/Desktop/deadbutcool/app/assets/stylesheets/application.scss */
section h1 {
  font-size: 34px;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.06;
  letter-spacing: -0.2px;
  text-align: left;
}
/* line 55, /Users/Hope/Desktop/deadbutcool/app/assets/stylesheets/application.scss */
section p {
  font-size: 19px;
}

/* VIMEO PLAYER */
/* line 65, /Users/Hope/Desktop/deadbutcool/app/assets/stylesheets/application.scss */
.player {
  font-family: Favorit-Regular, sans-serif;
  width: 100%;
  margin: 0 0 0 0;
}

/* OVERLAY MOBILE MENU */
/* line 80, /Users/Hope/Desktop/deadbutcool/app/assets/stylesheets/application.scss */
.overlay {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: black;
  background-color: 000000;
}

/* line 92, /Users/Hope/Desktop/deadbutcool/app/assets/stylesheets/application.scss */
.overlay-content {
  margin-left: 5%;
  float: left;
  position: relative;
  top: 25%;
  width: 100%;
  margin-top: 30px;
}

/* line 102, /Users/Hope/Desktop/deadbutcool/app/assets/stylesheets/application.scss */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: white;
  display: block;
  transition: 0.3s;
  -webkit-font-smoothing: antialiased;
}

/* line 112, /Users/Hope/Desktop/deadbutcool/app/assets/stylesheets/application.scss */
.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

/* line 116, /Users/Hope/Desktop/deadbutcool/app/assets/stylesheets/application.scss */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  /* line 124, /Users/Hope/Desktop/deadbutcool/app/assets/stylesheets/application.scss */
  .overlay a {
    font-size: 20px;
  }

  /* line 125, /Users/Hope/Desktop/deadbutcool/app/assets/stylesheets/application.scss */
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
/* HEADER */
/* line 135, /Users/Hope/Desktop/deadbutcool/app/assets/stylesheets/application.scss */
header {
  clear: both;
  padding: 20px;
}

/* line 141, /Users/Hope/Desktop/deadbutcool/app/assets/stylesheets/application.scss */
.header h2 {
  display: block;
}

@media (min-width: 599px) {
  /* line 146, /Users/Hope/Desktop/deadbutcool/app/assets/stylesheets/application.scss */
  div.menu {
    display: none !important;
  }
}
@media (min-width: 420px) {
  /* line 153, /Users/Hope/Desktop/deadbutcool/app/assets/stylesheets/application.scss */
  div.navright {
    background-color: fff;
  }
}
@media (min-width: 420px) and (max-width: 599px) {
  /* line 153, /Users/Hope/Desktop/deadbutcool/app/assets/stylesheets/application.scss */
  div.navright {
    display: none !important;
    font-size: 50px !important;
  }
}

@media (max-width: 620px) {
  /* line 165, /Users/Hope/Desktop/deadbutcool/app/assets/stylesheets/application.scss */
  div.navright {
    background-color: fff;
  }
}
/* FOOTER */
/* line 171, /Users/Hope/Desktop/deadbutcool/app/assets/stylesheets/application.scss */
footer {
  margin-top: 110px;
  bottom: 0;
  font-size: 2em;
  float: left;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  font-family: Favorit;
  position: static;
  color: #ffffff;
  padding: 20px;
}
