/* Fonts */
@font-face {
  font-family: "Canela-Light";
  src: url(/assets/Canela-Light.otf) format("truetype");
}
@font-face {
  font-family: "Favorit_Regular";
  src: url(/assets/Favorit_Regular.otf) format("truetype");
}
/* Universal */
/* line 21, /Users/Hope/Downloads/deadbutcool/app/assets/stylesheets/application.scss */
.navright {
  display: none;
}

/* line 30, /Users/Hope/Downloads/deadbutcool/app/assets/stylesheets/application.scss */
body {
  margin: 0px;
}

/* line 34, /Users/Hope/Downloads/deadbutcool/app/assets/stylesheets/application.scss */
a {
  color: white;
  font-family: "Canela-Light";
  font-size: 19px;
  text-decoration: none;
}
/* line 39, /Users/Hope/Downloads/deadbutcool/app/assets/stylesheets/application.scss */
a:hover {
  text-decoration: underline;
}

/* line 43, /Users/Hope/Downloads/deadbutcool/app/assets/stylesheets/application.scss */
h1 {
  color: white;
  font-weight: 100;
  text-align: left;
  font-family: "Favorit_Regular";
  -webkit-font-smoothing: subpixel-antialiased;
}

/* line 52, /Users/Hope/Downloads/deadbutcool/app/assets/stylesheets/application.scss */
p {
  color: white;
  font-size: 19px;
  color: white;
  font-family: "Favorit_Regular";
}

/* line 60, /Users/Hope/Downloads/deadbutcool/app/assets/stylesheets/application.scss */
section a {
  word-wrap: break-word;
  color: white;
  font-family: "Favorit_Regular";
  font-style: normal;
  font-stretch: normal;
  font-weight: 100;
  line-height: normal;
  letter-spacing: normal;
}

@media (max-width: 420px) {
  /* line 72, /Users/Hope/Downloads/deadbutcool/app/assets/stylesheets/application.scss */
  h1 {
    font-size: 28px;
  }
}
@media (max-width: 420px) and (min-width: 460px) {
  /* line 72, /Users/Hope/Downloads/deadbutcool/app/assets/stylesheets/application.scss */
  h1 {
    font-size: 60px;
  }
}

/* line 82, /Users/Hope/Downloads/deadbutcool/app/assets/stylesheets/application.scss */
html {
  background-color: #000000;
}

@media (min-width: 420px) {
  /* line 88, /Users/Hope/Downloads/deadbutcool/app/assets/stylesheets/application.scss */
  section a {
    font-size: 37px;
  }
}
@media (min-width: 420px) and (min-width: 460px) {
  /* line 88, /Users/Hope/Downloads/deadbutcool/app/assets/stylesheets/application.scss */
  section a {
    font-size: 60px;
  }
}

/* HEADER */
/* line 98, /Users/Hope/Downloads/deadbutcool/app/assets/stylesheets/application.scss */
header {
  padding: 20px;
  background-color: #000000;
  position: fixed;
  z-index: 1;
  width: 100%;
  border-style: solid;
  border-color: red;
}

/* CONTENT */
/* line 110, /Users/Hope/Downloads/deadbutcool/app/assets/stylesheets/application.scss */
#content {
  padding: 20px;
  padding-bottom: 0px;
  border-style: solid;
  border-color: red;
}

/* FOOTER */
/* line 117, /Users/Hope/Downloads/deadbutcool/app/assets/stylesheets/application.scss */
footer {
  border-style: solid;
  border-color: red;
  padding: 20px;
}

@media only screen and (min-width: 440px) {
  /* line 124, /Users/Hope/Downloads/deadbutcool/app/assets/stylesheets/application.scss */
  footer p {
    line-height: 1.21;
    text-align: left;
    font-size: 24px;
  }
}
