<% provide(:title, "CONTACT") %>
<div class="static-info">
<div class="content">
	<div class="mailandtel">
  <h1 style="margin:0;">
  	General inquiries:
	<a href="mailto:info@deadbutcool.com" style=" color:inherit;
    "><h1 style="margin:0;">info@deadbutcool.com</h1></a>
	<br>
	Business inquiries:
	<a href="mailto:hello@deadbutcool.com" style=" color:inherit;
	    "><h1 style="margin:0;">hello@deadbutcool.com</h1></a>
	<br>
	
	<a href="tel:+7-322-674-88-03" style=" color:inherit;
	    "><h1 style="margin:0;">Tel:+7-322-674-88-03</h1></a>
	</h1></div>
	<br>
	<br>
	<div class="info">
		<p>	We always looking forward to communicate.  Don’t hesitate to write us directly
		<p>	Or keep in touch via <span class="facebook">Facebook</span>, <span class="soundcloud">  Soundcloud</span> or <span class="youtube">Youtube</span>
	</div>
</div>

</div>