<% provide(:title, "INFO") %>

<div class="static-info">
	<div class="independent">
   <h1>Independent studio crafting sound-design for Fendi, Chanel, Saint-Lauren  and <a href="/works" data-remote = "true" ><h1 style="margin:0;text-decoration:underline;display:inline-block;">more</h1></a></h1></div>

		<div class="info"><p>I was always somebody who felt quite sorry for myself, what I had not got compared to my friends, how much of a struggle my life seemed to be compared to others. I was caught up in a web of 	   negativity and needed someone or something to help me to escape.
			<br><br>
			During an afternoon at work one day, aged around twenty one, a colleague I was working with started to talk to me. What he said was quite upsetting and disturbing, however would have a profound effect on my future. He said to me:
			<br><br>
			“Your quite a depressive person, aren’t you?”
			<br><br>
			“Am I?”
			<br><br>
			I said in a shocked voice as I believed I was no different to anybody else. He continued:
			<br><br>
			“Yes you are. You very rarely smile, you are negative about most issues and you always seem to be carrying the world on your shoulders”.
			<br><br>
			This man was aged around fifty three and continued:
			<br><br>
			“I used to be like you and then I was given some advice, of which I am now going to relay to you. When you feel down, depressed or sorry for yourself, read the newspapers or watch the news on the television. You may then realise that you are in fact one of the lucky ones.”
			<br><br>
			I listened and thought about what he had said. I had never been a big reader or watcher of the news, but decided to start. The advice was totally correct, the news from around the world and even my own country was quite shocking. I realised that the worries I had were actually quite trivial and that I needed to cherish everyday and start to look on the bright side of life.</p>
	</div>
</div>