  <script>  $(document).ready(function(){
  $('.slider').bxSlider({

      onSlideAfter: function (currentSlideNumber, totalSlideQty, currentSlideHtmlObject) {
       //
      },  
    onSliderLoad: function () {
  //
    
    },
    
    
  });
});

  //

  $(document).ready(function(){
        /* Vimeo Player */
        var togSrc = [ "/assets/icon-pause-desktop@3x.png", "/assets/icon-play-desktop@3x.png" ];
        var vid = $('#video'), 
            video_length = 0, 
            video_state = 'paused',
            $pauseplay = $("#playpause");
            
        if(vid.length) {
            video_state = 'playing';

            $('.video-wrapper').append($pauseplay);
        
            vid.vimeo("play")
                .vimeo("setVolume", 0)
                .vimeo("getDuration", function(data){
                    video_length = data;
                    console.log("Length "+ video_length);
                })

                

                .on("finish", function(){
                    vid.vimeo("unload");
                    video_state = 'paused';

                    console.log("Finished "+video_state);

                });

                // Play / Pause toggle
                $pauseplay.on('click', function(){
                    console.log(video_state);
                    
                    if(video_state == 'paused') {
 
                        this.src =  togSrc.reverse()[0];
                        vid.vimeo("play");
                        video_state = 'playing';

                    } else {
                      this.src =  togSrc.reverse()[0];
                        vid.vimeo("pause");
                        video_state = 'paused';

                    }
                });
            }

       });
        </script>

<div class="static" style="width:83%;">
      <h1>Independent studio crafting sound-design for Fendi, Chanel, Saint-Lauren  and <a href="/works" data-remote="true" style="word-wrap: break-word;color:white; font-family: Favorit_Regular;font-style: normal;font-stretch: normal;font-weight:100;line-height: normal;letter-spacing: normal;font-size: inherit;text-decoration:underline;">more</a>
      </h1>
  
</div>



<div id="slider-wrapper" style="position:relative;margin: -20px;">
  
<div id="curtain" style="
    z-index: 7;
    position: absolute;
top:0;
  
  position:absolute;
    "></div>
  <%= render partial: 'projects/project', locals: { project: @project } %>

<div class="bottom-left"><%= image_tag("icon-previous-mobile@3x.png", size: "100x50", class: 'slider-controls' )%></div>
<div class="bottom-center">
  <img id="playpause" src="/assets/icon-pause-desktop@3x.png", width="60" height="60"/>
  <img id="playpause" style="display:none;" src="/assets/icon-play-desktop@3x.png", width="60" height="60"/>
</div>
  <div class="bottom-right"><%= image_tag("icon-next-mobile@3x.png", size: "100x50", class: 'slider-controls') %></div>

</div>

 