#ure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 9e42a87a9fd0176eaad41ed861f1209a8355da356a69a8ea5b53631a8569829876b641167ca346c454cfec7392333180614e45b893323fdd6b34baaa7c3cccb7

test:
  secret_key_base: 5f0a5fb20538c0e5071170f31957acb3bc3bf996ae6a71da46f0e3b63d6882418cfc402d1646c2324b038a1b4e0460918f63327e520fac9e6bb24eaeada253e1

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>

