#loaderOverlay{
    position: fixed;
    z-index: 99999;
    top:0; left:0; right:0; bottom:0;
    background: #ff00ff;
    transition: 2s;       /* transition timing */
}
#loaderOverlay.hide{     
 /* JS-add this class on DOM ready or window load */
   visibility: hidden;
   opacity: 0;
}
