<!DOCTYPE html>
<html>
  <head>
    
    <title>DEAD BUT COOL</title>
    
   <%= render 'partials/meta' %>
  </head>

  <body>
  	<%= render 'partials/header' %>


    <div id="maincontent">

        <%= yield %>

      </div>

    <%= render 'partials/footer' %>

  </body>




</html>
